h1 {
    text-align: center;
}

button {
    background-color: #204e1c;
    color: white;
    border: none;
    border-radius: 90px;
    width: 100px;
    height: 25px;
    font-size: 10px;
}

#header {
    background-color: gray;
    width: auto;
    height: 100px;
    padding: 50px;
}